.container {
  margin: auto;
  max-width: 80%;
  min-height: 500px;
  font-family: sans-serif;
  background-color: #9D2235;
  padding: 25px
}

.social {
  display: flex;
  flex-flow: column wrap;
  width: 24px;
  padding: 5px;
}

.social svg {
  fill: #ffffff
}

.masthead {
  display: flex;
  flex-flow: wrap; 
  align-items: center;
  justify-content: center;
}

.logo {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 300px;
}

.tagline {
  width: 60%;
  flex-grow: 2;
  font-size: 4rem;
  vertical-align:middle;
  text-align: center;
  color: #ffffff;
  font-family: "graffiti-city", serif;
}

.topRibbon {
  display: flex;
  min-height: 50px;
  background-color: #384048;
  justify-content: flex-end;
}

.heading {
  font-family: "graffiti-city", serif;
  text-align: center; 
  font-size: 2.6rem;
  color: #ffffff;
  display: flex;
}

@media (max-width: 768px) {
 .logo {
    width: 100%;
  }
  .tagline {
    width: 100%;
  }
}