.shop {
  background-color: #384048;
  display: flex;
  min-height: 500px;
  flex-flow: wrap; 
}

.shopImage {
  padding: 20px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.shopText {
  padding: 20px;
  font-size: 1rem;
  color: #ffffff;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Roboto", serif;
}

@media (max-width: 768px) {
 .shopImage {
    width: 100%;
  }
  .shopText {
    width: 100%;
  }
}
