
.event {
  background-color: #384048;
  display: flex;
  min-height: 500px;
  flex-flow: wrap; 
}

.eventImg {
  padding: 20px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.eventText {
  padding: 20px;
  font-size: 1rem;
  color: #ffffff;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Roboto", serif;
}

.eventDetails {
  padding: 20px;
  font-size: 1.3rem;
  color: #ffffff;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Roboto", serif;

}

@media (max-width: 768px) {
 .eventImg {
    width: 100%;
  }
  .eventText {
    width: 100%;
  }
}
